input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    margin: 0;
    padding: 0;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
  margin-bottom: 5px;
}
div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
  display: inline-block!important;
  visibility: hidden;
}

h4.sheet-attr-head {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

div.sheet-attr {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    margin: 0 0 1% 0;
}

table td.sheet-attr {
    border-collapse: collapse;
    border: 1px solid black;
    width: 13.33%;
    height: 58px;
}

table td.sheet-attr-label {
    border-collapse: collapse;
    border: 1px solid black;
    height: 58px;
    font-size: 120%; 
    text-align: left;
}

input[type="text"].sheet-attr-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 54px; 
    height: 58px; 
    font-size: 200%; 
    text-align: left;
}

table td.sheet-attr-roll {
    border-collapse: collapse;
    border: 1px solid black;
    height: 58px;
    text-align: left;
}

input.sheet-secondary-attr-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: left;
}

input[type="number"].sheet-secondary-attr-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: left;
}

table td.sheet-skill-label {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: left;
}

input[type="text"].sheet-skill-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 30px;
    text-align: left;
}

input[type="number"].sheet-skill-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 30px;
    text-align: left;
}

td.sheet-otherskill-reminder {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 85%;
}

texarea.sheet-backstory-box {
    border-collapse: collapse;
    border: 1px solid black;
    height: 75px;
}

h4.sheet-condition-head {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

div.sheet-condition {
    border: 1px solid black;
    padding: 1%;
    margin: 0 0 1% 0;
}

table td.sheet-condition {
    width: 13.33%;
    height: 58px;
}
table td.sheet-condition-label {
    height: 58px;
    font-size: 120%; 
    text-align: left;
}
h4.sheet-skill-head{
    background-color: black;
    color: white;
    text-align: Left;
    font-weight: bold;
    font-style: normal;
    
}
table td.sheet-skill {
    border-collapse: collapse;
    border: 1px solid black;
    width: 13.33%;
    height: 58px;
    text-justify: left;
}
table td.sheet-skill-label {
    border: 1px solid black;
    height: 58px;
    font-size: 120%; 
    text-align: left;
}
input[type="text"].sheet-skill-input {
    border-collapse: collapse;
    border: 1px solid black;
    width: 54px; 
    height: 58px; 
    font-size: 200%; 
    text-align: left;
}
