input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    margin: 0;
    padding: 0;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
  margin-bottom: 5px;
}
div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
  display: inline-block!important;
  visibility: hidden;
}
/* Attributes header formatting */
h4.sheet-attr-head {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}
/* Attributes cell formatting */
div.sheet-attr {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
    margin: 0 0 1% 0;
}
/* Skill cell formatting */
table td.sheet-attr-label {
    border-collapse: collapse;
    border: 1px solid black;
    height: 36px;
    font-size: 100%; 
    text-align: left;
}
/* Conditions header formatting */
h4.sheet-condition-head {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}
/* Conditions cell formatting */
div.sheet-condition {
    border: 1px solid black;
    padding: 1%;
    margin: 0 0 1% 0;
}
/* Skills header formatting */
h4.sheet-skill-head{
    background-color: black;
    color: white;
    text-align: Left;
    font-weight: bold;
    font-style: normal;
}
